<h2>User Information</h2>
ID <b>{{user.id}}</b> <br>
Name <b>{{user.firstName}}</b> <br>
Lastname <b>{{user.lastName}}</b> <br>
Age <b>{{user.age}}</b> <br>
Email <i>{{user.email}}</i> <br>
Role <i>{{user.role}}</i> <br>