<h1>Carrito {{ cart._id }}</h1>

{{#if cart.products}}
  <ul>
    {{#each cart.products}}
      <li>
        Producto: {{this.product.title}} - Cantidad: {{this.quantity}} - Precio: {{this.product.price}}
      </li>
    {{/each}}
  </ul>
  <p>Total: {{total}}</p>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}
<button id="buyButton">Comprar</button>